{
  "*.{json,yml,css}": [
    "prettier --write --plugin=prettier-plugin-astro"
  ],
  "*.{js,ts,tsx,astro}": [
    "prettier --write --plugin=prettier-plugin-astro",
    "ls-lint"
  ],
  "*.md": [
    "prettier --write --plugin=prettier-plugin-astro",
    "markdownlint-cli2 --fix"
  ]
}