# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!package.json
!.prettierrc
!.lintstagedrc
!commitlint.config.js
!.eslintrc.js
!README.md