@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html[data-theme="light"] {
  @apply theme-light;
}
html[data-theme="dark"] {
  @apply theme-dark;
}
#sun-svg,
html[data-theme="dark"] #moon-svg {
  @apply hidden;
}
#moon-svg,
html[data-theme="dark"] #sun-svg {
  @apply block;
}
html[data-theme="dark"] .astro-code,
html[data-theme="dark"] .astro-code span {
  @apply !theme-astro-code;
}
@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    @apply theme-dark;
  }
  html:not([data-theme]) #moon-svg {
    @apply hidden;
  }
  html:not([data-theme]) #sun-svg {
    @apply block;
  }
  html:not([data-theme]) .astro-code,
  html:not([data-theme]) .astro-code span {
    @apply !theme-astro-code;
  }
}
#skip-to-content {
  @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
}

@layer base {
  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill font-skin text-skin-base transition-all duration-300 selection:bg-skin-accent
    selection:bg-opacity-70 selection:text-skin-inverted;
  }
  section {
    @apply mx-auto max-w-3xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill 
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block;
  }

  .prose {
    @apply [font-synthesis:none] prose-headings:!mb-3
    prose-headings:!text-skin-base prose-h3:italic
    prose-p:!text-skin-base prose-a:break-words prose-a:!text-skin-base prose-a:!decoration-dashed
    prose-a:underline-offset-8
    prose-blockquote:!border-l-skin-accent prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-strong:!text-skin-base
    prose-code:rounded prose-code:bg-skin-card prose-code:bg-opacity-75 prose-code:p-1
    prose-code:before:!content-none prose-code:after:!content-none
    prose-ol:!text-skin-base
    prose-ul:overflow-x-clip prose-ul:!text-skin-base
    prose-li:marker:!text-skin-accent
    prose-table:border-collapse prose-table:border-hidden prose-table:text-skin-base
    prose-th:border prose-th:border-skin-line
    prose-td:border prose-td:border-skin-line
    prose-img:!my-2 prose-img:mx-auto prose-img:border-2 prose-img:border-skin-line
    prose-hr:!border-skin-line hover:prose-a:!text-skin-accent;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose details ul {
    @apply !mt-0;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents {
    @apply !mb-2 font-normal italic !text-skin-accent [font-synthesis:style];
  }
  .prose summary + p,
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* ===== scrollbar ===== */
  html {
    @apply overflow-y-scroll;
  }

  * {
    @apply scrollbar-thin scrollbar-track-skin-fill scrollbar-thumb-skin-card scrollbar-corner-skin-fill scrollbar-track-rounded-full
    scrollbar-thumb-rounded-full scrollbar-corner-rounded-full scrollbar-w-8 scrollbar-h-8 hover:scrollbar-thumb-skin-muted;
  }

  /* ===== tooltip ===== */
  [data-tooltip]:not([data-tooltip=""]) {
    @apply relative underline decoration-dotted;
  }
  [data-tooltip]:not([data-tooltip=""]):hover::after,
  [data-tooltip]:not([data-tooltip=""]):focus::after {
    @apply absolute -bottom-8 left-0 z-10 whitespace-nowrap rounded bg-skin-card px-2 py-1 text-sm text-skin-base shadow-inner drop-shadow content-[attr(data-tooltip)];
  }

  /* ===== cloak ===== */
  [data-loading-cloak] {
    @apply opacity-0;
  }

  code,
  blockquote {
    @apply break-words;
  }

  pre > code {
    @apply whitespace-pre;
  }
}

@layer components {
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}

@layer utilities {
  .theme-light {
    --color-fill: 251 254 251;
    --color-text-base: 40 39 40;
    --color-accent: 0 108 172;
    --color-card: 230 230 230;
    --color-card-muted: 205 205 205;
    --color-border: 236 233 233;
    --pagefind-ui-primary: theme(fill.skin.accent);
    --pagefind-ui-text: theme(textColor.skin.base);
    --pagefind-ui-background: theme(backgroundColor.skin.fill);
    --pagefind-ui-border: theme(borderColor.skin.line);
    --pagefind-ui-tag: theme(backgroundColor.skin.muted);
    --pagefind-ui-font: theme(fontFamily.skin);
  }
  .theme-dark {
    --color-fill: 33 39 55;
    --color-text-base: 234 237 243;
    --color-accent: 255 107 1;
    --color-card: 52 63 96;
    --color-card-muted: 138 51 2;
    --color-border: 171 75 8;
    --pagefind-ui-primary: theme(fill.skin.accent);
    --pagefind-ui-text: theme(textColor.skin.base);
    --pagefind-ui-background: theme(backgroundColor.skin.fill);
    --pagefind-ui-border: theme(borderColor.skin.line);
    --pagefind-ui-tag: theme(backgroundColor.skin.muted);
    --pagefind-ui-font: theme(fontFamily.skin);
  }
  .theme-astro-code {
    background-color: var(--shiki-dark-bg);
    color: var(--shiki-dark);
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }
}
