---
import { SITE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import LinkButton from "@/components/LinkButton.astro";
import { Icon } from "astro-icon/components";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main id="main-content" class="mx-auto flex max-w-3xl flex-1 items-center">
    <div class="my-12 flex flex-col items-center">
      <Icon name="404" class="h-24 w-24 sm:h-48 sm:w-48" />
      <h1
        aria-label="404 Not Found"
        class="text-9xl font-bold text-skin-accent"
      >
        404
      </h1>
      <p class="my-4 text-2xl sm:text-3xl">Egg Not Found</p>
      <span>These aren’t the eggs you’re looking for.</span>
      <LinkButton
        href="/"
        class="my-8 text-lg underline decoration-dashed underline-offset-8"
      >
        Go back home
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>
