---
import { Icon } from "astro-icon/components";
import { Markdown } from "@astropub/md";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import LinkButton from "@/components/LinkButton.astro";
import Hr from "@/components/Hr.astro";
import Card from "@/components/Card.astro";
import ContactLinks from "@/components/ContactLinks.astro";
import WIP from "@/components/WIP.astro";
import { featuredPosts, recentPosts } from "@/utils/usePosts";
import { activeContacts } from "@/utils/useSocialLinks";
---

<Layout>
  <Header />
  <main id="main-content">
    <section class="py-8">
      <header class="mt-4 sm:mb-8">
        <h1
          class="flex flex-row content-center gap-1 text-3xl font-black text-skin-accent sm:gap-2 sm:text-5xl"
        >
          <Icon name="home" class="h-9 w-9 sm:h-12 sm:w-12" />Wren's
        </h1>
        <h2
          class="mt-1 flex flex-row gap-1 text-2xl font-bold text-skin-base/60 sm:mt-2 sm:gap-2 sm:text-4xl"
        >
          Digital Garden<LinkButton
            href="/rss.xml"
            class="hover:animate-pulse hover:transition-all"
            ariaLabel="rss feed"
            title="RSS Feed"
            newPage={true}
          >
            <Icon
              name="tabler:rss"
              class="mb-1 h-6 w-6 sm:h-8 sm:w-8 [&_path]:stroke-[3]"
            />
            <span class="sr-only">RSS Feed</span>
          </LinkButton>
        </h2>
      </header>

      <article class="prose">
        <Icon name="tabler:external-link" class="hidden" aria-hidden="true" />
        <Markdown
          of={`
Random bits about **Birds**, **Techs**, **Games** and **Memes**.

Read on or check [README](https://github.com/wry-red/site#readme) for more info.
`}
        />
      </article>
      {
        activeContacts.length > 0 && (
          <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
            <div class="mb-1 mr-2 whitespace-nowrap sm:mb-0">Find me on:</div>
            <ContactLinks />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <section class="py-6">
          <h2 class="my-6 text-2xl font-semibold tracking-wide">Featured</h2>
          <ul>
            {featuredPosts.map(post => (
              <Card {post} tag="h3" />
            ))}
          </ul>
        </section>
      )
    }

    {featuredPosts.length > 0 && recentPosts.length > 0 && <Hr />}

    {
      recentPosts.length > 0 && (
        <section class="py-6">
          <h2 class="my-6 text-2xl font-semibold tracking-wide">
            Recent Posts
          </h2>
          <ul>
            {recentPosts.map(
              (post, index) => index < 4 && <Card {post} tag="h3" />
            )}
          </ul>
        </section>
      )
    }

    {
      featuredPosts.length === 0 && recentPosts.length === 0 ? (
        <WIP />
      ) : (
        <div class="mb-8 flex justify-center font-semibold text-skin-base/60">
          <LinkButton
            href="/posts/"
            class="hover:animate-pulse hover:transition-all"
          >
            <div class="flex flex-row justify-center gap-1 sm:text-2xl">
              All Posts
              <Icon name="tabler:arrow-right" class="h-6 w-6 sm:h-8 sm:w-8" />
            </div>
          </LinkButton>
        </div>
      )
    }
  </main>

  <Footer />
</Layout>
