---
import { activeContacts } from "@/utils/useSocialLinks";
import LinkButton from "@/components/LinkButton.astro";
import { Icon } from "astro-icon/components";
import type { Icon as IconType } from "virtual:astro-icon";

export interface Props {
  readonly centered?: boolean;
}

const { centered = false } = Astro.props;
---

{
  activeContacts.length > 0 && (
    <div class:list={{ "flex flex-wrap justify-center gap-1": centered }}>
      {activeContacts.map(contact => (
        <LinkButton
          href={contact.href}
          class="p-2 hover:animate-pulse hover:transition-all motion-safe:hover:rotate-6 sm:p-1"
          title={contact.title}
        >
          <Icon name={contact.icon as IconType} class="h-6 w-6" />
          <span class="sr-only">{contact.title}</span>
        </LinkButton>
      ))}
    </div>
  )
}
