---
import Hr from "@/components/Hr.astro";
import ContactLinks from "@/components/ContactLinks.astro";

export interface Props {
  readonly noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <Hr />
  <section
    class="flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4"
  >
    <ContactLinks centered />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span>Copyright &#169; {currentYear}</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </section>
</footer>
