---
import { Icon } from "astro-icon/components";
import { SITE } from "@/config";
import Hr from "@/components/Hr.astro";
import LinkButton from "@/components/LinkButton.astro";

export interface Props {
  readonly activeNav?: "posts" | "tags" | "about" | "search";
}

const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div
    class="mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row"
  >
    <div
      class="relative flex w-full flex-row items-start p-4 sm:items-center sm:justify-between sm:py-8"
    >
      <a
        href="/"
        class="absolute mr-14 flex flex-row gap-1 py-2 text-xl font-extrabold text-skin-base hover:text-skin-accent hover:transition-all sm:static sm:mr-0 sm:py-1 sm:text-2xl"
      >
        <Icon name="home" class="h-7 w-7 sm:h-8 sm:w-8" />
        <span class="truncate">{SITE.title}</span>
      </a>
      <nav
        class="flex w-full flex-col items-center sm:ml-2 sm:w-auto sm:flex-row sm:justify-end sm:space-x-4 sm:py-0"
      >
        <button
          id="hamburger-menu"
          class="focus-outline h-10 w-10 self-end p-2 sm:hidden"
          type="button"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="menu-icon"
            class="scale-125"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items">
          <li class="col-span-2">
            <LinkButton
              href="/posts/"
              class:list={{
                "underline decoration-wavy decoration-2 underline-offset-4":
                  activeNav === "posts",
              }}
              ariaLabel="posts"
              title="Posts"
            >
              Posts
            </LinkButton>
          </li>
          <li class="col-span-2">
            <LinkButton
              href="/tags/"
              class:list={{
                "underline decoration-wavy decoration-2 underline-offset-4":
                  activeNav === "tags",
              }}
              ariaLabel="tags"
              title="Tags"
            >
              Tags
            </LinkButton>
          </li>
          <li class="col-span-2">
            <LinkButton
              href="/about/"
              class:list={{
                "underline decoration-wavy decoration-2 underline-offset-4":
                  activeNav === "about",
              }}
              ariaLabel="about"
              title="About"
            >
              About
            </LinkButton>
          </li>
          <li class="col-span-1">
            <LinkButton
              href="/search/"
              class:list={[
                "focus-outline w-auto p-3 hover:transition-all sm:p-1",
                {
                  "text-skin-accent": activeNav === "search",
                },
              ]}
              ariaLabel="search"
              title="Search"
            >
              <Icon name="tabler:list-search" class="h-6 w-6" />
              <span class="sr-only">Search</span>
            </LinkButton>
          </li>
          <li class="col-span-1">
            <button
              id="theme-btn"
              class="focus-outline p-3 text-skin-base transition-all hover:text-skin-accent motion-safe:hover:rotate-45 sm:p-1"
              type="button"
              title="Toggles light & dark"
              aria-label="auto"
              aria-live="polite"
            >
              <Icon
                name="tabler:moon"
                id="moon-svg"
                class="h-6 w-6 -rotate-[16deg]"
              />
              <Icon name="tabler:sun" id="sun-svg" class="h-6 w-6" />
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <Hr />
</header>

<style is:global>
  #menu-items {
    @apply hidden sm:flex sm:w-auto sm:gap-x-5;
  }
  #menu-items.is-active {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:mt-0 sm:flex sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  #menu-items li {
    @apply flex items-center justify-center;
  }
  #menu-items li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent hover:transition-all sm:my-0 sm:px-2 sm:py-1;
  }

  #menu-icon line {
    @apply transition-opacity ease-in-out;
  }
  #menu-icon .close {
    @apply opacity-0;
  }
  #menu-icon.is-active .line {
    @apply opacity-0;
  }
  #menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
  import { attach } from "@/utils/useDom";

  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector("#hamburger-menu");
    const menuIcon = menuBtn?.querySelector("#menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuIcon?.classList.toggle("is-active");
      menuItems?.classList.toggle("is-active");
    });
  }

  attach(toggleNav);
</script>
