---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import LinkButton from "@/components/LinkButton.astro";

export interface Props {
  readonly page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
const { currentPage, lastPage } = page;
const { prev, current, next } = page.url;

const prevDisabled = !prev;
const nextDisabled = !next;
---

{
  lastPage > 1 && (
    <nav class="mb-8 mt-auto flex justify-center" aria-label="Pagination">
      <LinkButton
        disabled={prevDisabled}
        href={prev || current}
        class:list={[
          "mr-4 flex select-none",
          {
            "pointer-events-none opacity-50 hover:text-skin-base hover:text-skin-base":
              prevDisabled,
          },
        ]}
        ariaLabel="Previous"
      >
        <Icon name="tabler:arrow-left" class="h-6 w-6 scale-90" />
        Prev
      </LinkButton>
      {currentPage} / {lastPage}
      <LinkButton
        disabled={nextDisabled}
        href={next || current}
        class:list={[
          "ml-4 flex select-none",
          {
            "pointer-events-none opacity-50 hover:text-skin-base hover:text-skin-base":
              nextDisabled,
          },
        ]}
        ariaLabel="Next"
      >
        Next
        <Icon name="tabler:arrow-right" class="h-6 w-6 scale-90" />
      </LinkButton>
    </nav>
  )
}
