---
import { activeShares } from "@/utils/useSocialLinks";
import LinkButton from "@/components/LinkButton.astro";
import { Icon } from "astro-icon/components";
import type { Icon as IconType } from "virtual:astro-icon";

const URL = Astro.url;
---

{
  activeShares.length > 0 && (
    <div class="flex flex-col flex-wrap items-center justify-center gap-1 sm:items-start">
      <span class="italic">Share this post on:</span>
      <div class="text-center">
        {activeShares.map(share => (
          <LinkButton
            href={`${share.href + URL}`}
            class="scale-90 p-2 hover:animate-pulse hover:transition-all motion-safe:hover:rotate-6 sm:p-1"
            title={share.title}
          >
            <Icon name={share.icon as IconType} class="h-6 w-6" />
            <span class="sr-only">{share.title}</span>
          </LinkButton>
        ))}
      </div>
    </div>
  )
}
