---
import type { Tag } from "@/utils/usePosts";
import { Icon } from "astro-icon/components";

export interface Props {
  readonly tags: Tag[];
  readonly class?: string;
  readonly size?: "sm" | "lg";
}

const { tags, class: className, size = "sm" } = Astro.props;
---

<ul
  class:list={[
    "flex flex-row flex-wrap",
    className,
    size === "sm" ? "gap-x-1 gap-x-2" : "gap-x-2 gap-y-3",
  ]}
>
  {
    tags.map(tag => (
      <li>
        <a
          href={`/tags/${tag.slug}/`}
          transition:name={tag.slug}
          class:list={[
            size === "sm" ? "text-sm" : "pr-1 text-lg",
            "flex flex-row items-center border-b-2 border-dashed border-skin-fill hover:border-solid hover:border-skin-accent hover:text-skin-accent focus-visible:border-b-0",
          ]}
        >
          <Icon
            name="tabler:hash"
            class:list={[size === "sm" ? "h-4 w-4" : "h-6 w-6", "opacity-80"]}
          />
          <span data-pagefind-filter="tag" class="inline-block">
            {tag.name}
          </span>
        </a>
      </li>
    ))
  }
</ul>
