---
import { Icon } from "astro-icon/components";
---

<div class="my-14 flex flex-col items-center font-extrabold text-skin-accent">
  <Icon name="404" class="h-12 w-12 sm:h-24 sm:w-24" />
  <span class="text-4xl font-bold text-skin-accent">WIP</span>
</div>
