---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Pagination from "@/components/Pagination.astro";
import Card from "@/components/Card.astro";
import WIP from "@/components/WIP.astro";
import { SITE } from "@/config";

export interface Props {
  readonly page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle="Posts" pageDesc="All the articles I've posted." icon="post">
    {
      page.data.length === 0 ? (
        <WIP />
      ) : (
        <ul>
          {page.data.map(post => (
            <Card {post} />
          ))}
        </ul>
      )
    }
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
