---
// Video of this item, always from bilibili.
export interface Props {
    videoUrl: string;
}

const { videoUrl } = Astro.props;
---

<p>
    <iframe src=`${videoUrl}` allowfullscreen="true"/>
</p>

<style>
    iframe {
        border: 5px;
        padding: auto;
    }
</style>